/*
Arquivo separado para a criação do site de teste!
*/
body {
    background: rgb(45, 45, 250);
    font: normal 20pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

select#flista {
    width: 150 px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}